/*
 Theme Name:   Twenty Seventeen Child
 Theme URI:    http://timetodev.fr/twentyseventeen-child/
 Description:  Twenty Fifteen Child Theme
 Author:       Benoit Delobel
 Author URI:   http://timetodev.fr
 Template:     twentyseventeen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twentyseventeen-child
*/
a{
    color: green;
}
.site-header{
background-color: red !important;
}
.wp-custom-header{
    display:none;
}
.page-header{
    background:#333;
    color:white;
}
.site-branding-text{
    color:white;
    background-color: #333;
    text-align:center;
    float:right;
    height:100%;
}
.site-branding-text a{
    color:white;
}